name: CI Pipeline

on: [push, pull_request]

jobs:
  quality-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 aiomqtt faker
          
      - name: Lint with Flake8
        run: |
          # Para o build se houver erros de sintaxe ou nomes indefinidos
          flake8 src --count --select=E9,F63,F7,F82 --show-source --statistics